<section class="atlas-banner atlas-banner--parallax">
    <div class="atlas-banner-bg bg-atlas-banner-roof" aria-hidden="true"></div>
    <div class="atlas-overlay"></div>
    <div class="container atlas-inner">
      <img src="/assets/images/brand/atlas-shingles-banner.webp" alt="Atlas Designer Shingles featuring Scotchgard" />
      <div class="atlas-stat">
        <span class="stat-number accent">10,000 +</span>
        <span class="stat-label">Our Happy Clients All Over The Tampa Bay Area!</span>
      </div>
    </div>
  </section>
